@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');

body {
    background-color: #FED782;
}

.centered {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #004781;
    font-family: 'Six Caps', sans-serif;
    font-size: 100px;

}